html {
  background: url("https://www.toptal.com/designers/subtlepatterns/uploads/light-grey-terrazzo.png") top left repeat;
}

body {
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  max-width: 1080px;
  margin: 0 auto;
}

.material-symbols-outlined {
  color: #743165;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

header {
  background: #743165;
  color: white;
  padding: 20px;
}

header p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}

header img {
  background-color: rgba(0,0,0,0.5);
  min-width: 230px;
}

h1, h2 {
  font-family: "Bitter", serif;
  font-weight: 500;
  font-style: normal;
}

h1 { font-size: 2.5em;}
h2 { font-size: 2em;}
h3 { font-size: 1.5em; font-weight: 300;}
h4 { font-size: 1em; font-weight: 300;} 

a { color: #743165;}

p {
  line-height: 1.25em;
}

main {
  display: flex;
}


.experience {
  flex-grow: 2;
  padding: 0 20px;
}

.additional-info {
  flex-grow: 1;
  padding: 0 20px;
}

.experience-block {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.experience-block:last-of-type {
  border-bottom: none;
}

.experience h3, .experience h4 {
  flex-grow: 3;
  flex-shrink: 3;
  min-width: 100%;
}

.experience h3 {
  margin: 0;
}
.experience h4 {
  margin: 0 0 10px;
}

.dates {
  flex-grow: 1;
  font-size: 14px;
  font-style: italic;
  margin: 0;
  max-width: 80px;
}

.details {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 14px;
  margin: 0;
  max-width: calc(100% - 120px);
}

.details li {
  margin: 0 auto 10px;
}

.additional-info {
  background: #eee;
  min-width: 230px;
}

.additional-info > div {
  font-size: 14px;
  margin-bottom: 20px;
}

.additional-info h2 { margin: 30px 0 10px;}
.additional-info h3 { margin: 0;}

.additional-info p {
  margin: 5px 0;
}

.contact a {
  display: inline-block;
  line-height: 24px;
  height: 24px;
  vertical-align:top;
}

@media all and (max-width: 600px) {
  main { flex-wrap: wrap;}
  .experience, .additional-info {
    flex-grow: 1;
    min-width: 100%;
  }
  
}











